---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mélissa Scriva | Ostéopathe à Aix-En-Provence et à Marignane">
  <div class="pt-16">
    <h1>Contact</h1>
    <p>Vous pouvez me contacter par téléphone au *insérer numéro* ou par email à l'adresse <a href="mailto:example@example.com">example@example.com</a></p>
  </div>
</Layout>
