---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rendez vous avec Mélissa Scriva | Ostéopathe à Aix-En-Provence et à Marignane">
  <div class="pt-16">
    <!-- Add Component Rendez vous, need to be created -->
  </div>
</Layout>
