---
import Layout from '../layouts/Layout.astro';
import ServicesComponent from '../components/Services.astro';
---

<Layout title="Mélissa Scriva | Ostéopathe">
  <div class="pt-16">
    <ServicesComponent />
  </div>
</Layout>
