---
import Layout from '../layouts/Layout.astro';
import ServicesComponent from '../components/Services.astro';
---

<Layout title="Services de Mélissa Scriva | Ostéopathe à Aix-En-Provence et à Marignane">
  <div class="pt-16">
    <ServicesComponent />
  </div>
</Layout>
